/* Section A */
#section-a .bg-image {
    background: #333 url("resources/scenery/lake.jpg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
}

/* Section B */
#section-b .bg-image {
    background: #333 url("resources/scenery/peak.jpg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
}

/* Section C */
#section-c .bg-image {
    background: #333 url("resources/scenery/alps.jpg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
}

/* Section D */
#section-d .bg-image {
    background: #333 url("resources/scenery/icecave.jpg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
}

/* Section E */
#section-e .bg-image {
    background: #333 url("resources/scenery/bern.jpg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
}

/* Section F */
#section-f .bg-image {
    background: #333 url("resources/scenery/rhine-falls.jpg");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
}

/* Shared */
#section-a,
#section-b,
#section-c,
#section-d,
#section-e,
#section-f {
    height: 300px;
    text-align: center;
}

#section-a .container,
#section-b .container,
#section-c .container,
#section-d .container,
#section-e .container,
#section-f .container {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 100%;
}

#section-a .overlay,
#section-b .overlay,
#section-c .overlay,
#section-d .overlay,
#section-e .overlay,
#section-f .overlay {
    position: absolute;
    background: #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    opacity: 0.3;
    transition: .5s ease;
}

#section-a .container:hover .overlay,
#section-a .container:hover .content,
#section-b .container:hover .overlay,
#section-b .container:hover .content,
#section-c .container:hover .overlay,
#section-c .container:hover .content,
#section-d .container:hover .overlay,
#section-d .container:hover .content,
#section-e .container:hover .overlay,
#section-e .container:hover .content,
#section-f .container:hover .overlay,
#section-f .container:hover .content {
    opacity: 0.7;
}

#section-a .container:hover .title,
#section-b .container:hover .title,
#section-c .container:hover .title,
#section-d .container:hover .title,
#section-e .container:hover .title,
#section-f .container:hover .title {
    opacity: 0;
}

#section-a .title,
#section-b .title,
#section-c .title,
#section-d .title,
#section-e .title,
#section-f .title {
    position: absolute;
    font-family: Rockwell;
    font-size: 2em;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

#section-a .content,
#section-b .content,
#section-c .content,
#section-d .content,
#section-e .content,
#section-f .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}