/* Shared */
#geneva,
#jungfrau,
#alps,
#rhone,
#bern,
#rhine {
    height: 300px;
}

.bg-image {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.overlay {
    background: #333;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 0.3s ease;
}

.container:hover .content {
    opacity: 1;
}

.container:hover .title {
    opacity: 0;
}

.title {
    position: absolute;
    font-family: Rockwell;
    font-size: 180%;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

/* Geneva */
#geneva .bg-image {
    background-image: url("resources/scenery/lake.jpg");
}

/* Jungfrau */
#jungfrau .bg-image {
    background-image: url("resources/scenery/peak.jpg");
}

/* Alps */
#alps .bg-image {
    background-image: url("resources/scenery/alps.jpg");
}

/* Rhone */
#rhone .bg-image {
    background-image: url("resources/scenery/icecave.jpg");
}

/* Bern */
#bern .bg-image {
    background-image: url("resources/scenery/bern.jpg");
}

/* Rhine */
#rhine .bg-image {
    background-image: url("resources/scenery/rhine-falls.jpg");
}