/* Core Styles */
body {
    margin: 0;
    font-family: Lucida Sans;
    background: #333;
    color: #fff;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

/* Navigation Bar */
#navbar {
    background: rgb(155, 45, 31);
}

#navbar h1 {
    padding: 0.5em 1em;
    padding-bottom: 0;
}

#navbar a {
    font-family: Segoe UI Light;
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
}

#navbar a:hover {
    color: #333;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    padding: 0.5em;
}

/* Showcase */
#showcase {
    min-height: 350px;
    color: #fff;
    text-align: center;
}

#showcase h1 {
    font-family: Matura MT Script Capitals;
    font-size: 3em;
    padding-top: 50px;
    padding-bottom: 0;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url("resources/night-town.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.5;
}

#showcase .logo img {
    width: 11em;
    display: inline-block;
}

#showcase .content-wrap,
#section-a .content-wrap,
#section-b .content-wrap {
    padding: 0 1.5em;
    padding-bottom: 0.5em;
}

/* Section A */
#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 1em;
}

#section-a .content-title,
#section-b .content-title {
    font-family: Rockwell;
    font-size: 1.6em;
    padding-top: 0.3em;
    padding-bottom: 0;
}

/* Section B */
#section-b {
    background: #333;
}

#section-b .content-text {
    padding-bottom: 0.5em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    display: inline-block;
    margin: 0 1em;
    margin-bottom: 0.5em;
    background: #fff;
}

#section-b li:hover {
    background: #eaeaea;
    z-index: 1;
    opacity: 0.8;
    cursor: help;
}

#section-b img {
    border: 2px #fff solid;
}

/* Footer */
#main-footer {
    background: rgb(155, 45, 31);
    padding: 0.5em 1em 1em;
    padding-bottom: 0;
}

#main-footer div {
    padding-bottom: 0.5em;
    font-size: 1.2em;
}

/* Media Queries */
@media(min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 45em)) 1fr;
    }

    .content-wrap,
    #section-b h1,
    #main-footer div,
    #main-footer ul {
        grid-column: 1/5;
    }

    #section-b ul {
        grid-column: 2/4;
        display: inline-block;
        margin-bottom: 0.3em;
    }

    #section-b li {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 30%;
    }

    #showcase .logo img {
        width: 15em;
    }
}

@media(min-width: 900px) and (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap, 
    #section-b ul,
    #section-b h1,
    #main-footer div,
    #main-footer ul {
        grid-column: 1/5;
    }

    #section-b ul {
        display: inline-block;
        margin-bottom: 0.3em;
    }

    #section-b li {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 45%;
    }

    #showcase .logo img {
        width: 13em;
    }
}

@media(min-width: 800px) and (max-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap, 
    #section-b ul,
    #section-b h1,
    #main-footer div,
    #main-footer ul {
        grid-column: 2/4;
    }

    #section-b ul {
        display: inline-block;
        margin-bottom: 0.3em;
    }

    #section-b li {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 45%;
    }
}

@media(min-width: 768px) and (max-width: 799px) {
    #showcase .logo img {
        width: 12em;
    }

    body {
        font-size: 1.1em;
    }

    #navbar a {
        font-size: 1.5em;
    }
}

@media(min-width: 360px) and (max-width: 767px) {
    body {
        font-size: 1em;
    }

    #navbar a {
        font-size: 1.2em;
    }

    #showcase .bg-image {
        height: 530px;
    }
}

@media(max-width: 360px) {
    body {
        font-size: 0.9em;
    }

    #navbar a {
        font-size: 1.1em;
    }

    #showcase h1 {
        font-size: 2em;
    }

    #showcase .bg-image {
        height: 550px;
    }
}
  