/* Core Styles */
body {
    margin: 0;
    font-family: Lucida Sans;
    background: #333;
    color: #fff;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

/* Navigation Bar */
#navbar {
    background: rgb(155, 45, 31);
}

#navbar h1 {
    padding: 0.5em 1em;
    padding-bottom: 0;
}

#navbar a {
    font-family: Segoe UI Light;
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
}

#navbar a:hover {
    color: #333;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    padding: 0.5em;
}

/* Footer */
#main-footer {
    background: rgb(155, 45, 31);
    padding: 0.5em 1em 1em;
    padding-bottom: 0;
}

#main-footer div {
    padding-bottom: 0.5em;
    font-size: 1.2em;
}

/* Media Queries */
@media(min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 45em)) 1fr;
    }

    .content-wrap,
    #main-footer div,
    #main-footer ul {
        grid-column: 1/5;
    }

    #section-b ul {
        grid-column: 2/4;
        display: inline-block;
        margin-bottom: 0.3em;
    }

    #section-b li {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 30%;
    }

    #showcase .logo img {
        width: 15em;
    }
}

@media(min-width: 900px) and (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap,
    #main-footer div,
    #main-footer ul {
        grid-column: 1/5;
    }
}

@media(min-width: 800px) and (max-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap, 
    #main-footer div,
    #main-footer ul {
        grid-column: 2/4;
    }
}

@media(min-width: 768px) and (max-width: 799px) {
    body {
        font-size: 1.1em;
    }

    #navbar a {
        font-size: 1.5em;
    }
}

@media(min-width: 360px) and (max-width: 767px) {
    body {
        font-size: 1em;
    }

    #navbar a {
        font-size: 1.2em;
    }
}

@media(max-width: 360px) {
    body {
        font-size: 0.9em;
    }

    #navbar a {
        font-size: 1.1em;
    }
}
  