/* Shared */
.showcase {
    min-height: 280px;
    color: #fff;
    text-align: center;
}

.bg-image {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.5;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 10px;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}


.content-title {
    font-family: Rockwell;
    font-size: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0;
}

.content-text {
    padding-bottom: 0.5em;
}

.content-wrap {
    padding: 0 1.5em;
    padding-bottom: 0.5em;
}

.gallery {
    background: #fff;
    color: #000;
    padding: 0 1.5em;
    padding-bottom: 0.5em;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.slide {
    display: none;
}

.gallery img {
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.gallery .active, .dot:hover {
    background-color: #000;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Zurich */
#zurich {
    display: inline-block;
}

#zurich .bg-image {
    background-image: url("resources/tourism/zurich/town.jpg");
}

/* Matterhorn */
#matterhorn {
    display: none;
}

#matterhorn .bg-image {
    background-image: url("resources/tourism/matterhorn/matterhorn.jpg");
}

/* Interlaken */
#interlaken {
    display: none;
}

#interlaken .bg-image {
    background-image: url("resources/tourism/interlaken/interlaken.jpg");
}

/* Chateau de Chilion */
#chateau-de-chilion {
    display: none;
}

#chateau-de-chilion .bg-image {
    background-image: url("resources/tourism/chateau-de-chilion/chateau-de-chilion.jpg");
}

#beverin {
    display: none;
}

#beverin .bg-image {
    background-image: url("resources/tourism/beverin/hill.jpg")
}

/* Section B */
#section-b .map {
    position: relative;
    padding: 0.5em 0.5em;
    max-width: 1200px;
    display: inline-block;
}

#section-b .marker {
    position: absolute;
    color: #333;
    font-size: 125%;
    transform: translate(-50%, -50%);
    transition: 0.5s linear;
}

#section-b .marker-name {
    position: absolute;
    color: #333;
    font-size: 65%;
    transform: translate(-50%, -50%);
    transition: 0.5s linear;
    font-weight: bold;
}

#section-b #zurich-mark {
    top: 19.5%;
    left: 55%;
}

#section-b #zurich-name {
    top: 24%;
    left: 55%;
}

#section-b #matterhorn-mark {
    top: 83%;
    left: 38%;
}

#section-b #matterhorn-name {
    top: 79%;
    left: 38%;
}

#section-b #interlaken-mark {
    top: 53%;
    left: 45%;
}

#section-b #interlaken-name {
    top: 57%;
    left: 45%;
}

#section-b #chateau-de-chilion-mark {
    top: 64%;
    left: 25%;
}

#section-b #chateau-de-chilion-name {
    top: 60%;
    left: 25%;
}

#section-b #beverin-mark {
    top: 58%;
    left: 74%;
}

#section-b #beverin-name {
    top: 62%;
    left: 74%;
}

#section-b .marker:hover {
    font-size: 130%;
    transition: 0.5s linear;
}

#section-b .active {
    color: #fff;
    font-weight: bold;
}